/* fonts */
@font-face{
    font-family: "Billo";
    src: url(fonts/BILLO___.TTF);
}
@font-face{
    font-family:"Baby Doll";
    src: url(fonts/Baby\ Doll.ttf);
}
@font-face{
    font-family: "Cute Stitch";
    src: url(fonts/Cute\ Stitch.ttf);
}

html{
    background-image: url(graphics/background.jpg);
    background-attachment: fixed;
    overflow-x: hidden;
}
#header{
    display:block; 
    font: size 35px;;
    text-align:center;
    
    color:var(--dbrown1);
    margin-left: 0;
    width:545px;
    height: 175px;
    background-image: url(graphics/headerbg.png.png);
    padding:10px;
    border-radius:25px;
    position: absolute;
    z-index: 910;
}
.header_img{
    height: 450px;
    width: 400px;
    position: absolute;
    top: -100px;
    left: 135px;
    z-index: 975;
}

/* Containers + Boxes */

#head_con{
    width: 830PX;
    height: 188px ;
    margin-top: 50px;
    margin-left: 25px;
}
#box{
    padding: 0;
    position: absolute;
    background-color: beige;
    resize: none;
    left: 78px;
    top: 165px;
    bottom: 15px;
    right: 78px;
    background-size: contain;
    background-color: beige;
    box-shadow: 0 0 10px 0 rgb(236, 132, 148) inset, 0 0 3px black;
    border-radius: 5px;
    border: 1px solid rgb(142, 180, 142);
    display: inline-block;
    z-index: 10;
}
#page_tit{
    width: 350px;
    height: 75px;
    position: absolute;
    z-index: 12;
    margin-top: 0px;
    margin-left: 875px;

    h1{
        font-size: 65px;
        font-family: Billo;
        color: rgb(142, 180, 142) ;
        margin-top: 0px;
    }
    img{
            margin-left: 40px;
            margin-top: -330px;
            transform: rotateY(180deg);
            scale: .17;
    }

}

#idcard_container{
    top: 230px;
    left: 95px;
    resize: none;
    padding-right: 500px;
    padding-bottom: 225px;
    position: absolute;
    z-index: 925;
    #pfp{
        display: block;
        width: 565px;
        height: 600px;
        scale: .25;
        position: absolute;
        top: -190px;
        margin-left: -160px;
        z-index: 975;
        border-radius: 100px;

    }
    #card{
        display: block;
        width: 500px;
        height: 230px;
        position: absolute;
        z-index: 980;
    }
    #text_container{
        top: 37px;
        left: 200px;
        padding-right: 240px;
        padding-bottom: 150px;
        position: absolute;
        z-index: 950;
        #text_qs{
            left: 5px;
            font-family: Cute Stitch;
            font-size: 15px;
            display: block;
            font-weight: 100;
            position: absolute;
            line-height: 30px;
            color: rgb(233, 112, 179);
        }
        #text_answrs{
            left: 130px;
            font-family: Cute Stitch;
            font-size: 15px;
            display: block;
            font-weight: 100;
            position: absolute;
            line-height: 30px;
            color: rgb(136, 202, 150);
        }
    }

    
}
#texthome_cont{
    display: block;
    width: 675px;
    overflow-y: scroll;
    height: 450px;
    resize: none;
    left: 175px;
    margin-top: 75px;
    position: absolute;
    z-index: 11;
    background-color: antiquewhite;
    border-radius: 10px;
    border-image: url(graphics/id_border.png) 6.5 fill round;
    border-width: 8px;
    border-style: solid;
    margin-left: 375px;
    h2{
        margin: 10px;
        font-family: Baby Doll;
        font-size: 23px;
        color:lightpink ;
    }
}
#home_nav{
    display: block;
    width: 300px;
    height: 230px;
    resize: none;
    position: absolute;
    z-index: 920;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 3px solid rgb(142, 180, 142);
    margin-top: 300px;
    margin-left: 30px;
    line-height: 25px;
    h1{
        font-size: 25px;
        font-family: Billo;
        color:  rgb(142, 180, 142);
        margin-left: 80px;
    }
    a{
        display: block;
        font-family: Billo;
        color:rgb(179, 55, 106);
        margin-left: 115px;
        margin-top: 5px;
        font-size: 20px;
    
    }
    a:hover{
        text-indent: 10px;
        color: rgb(247, 115, 170);
        font-style: italic;
    }
}
#strawberry{
    width: auto;
    height: auto;
    scale: .37;
    margin-left: 235px;
    margin-top: 126px;
}