/* fonts */
@font-face{
    font-family: "Billo";
    src: url(fonts/BILLO___.TTF);
}
@font-face{
    font-family:"Baby Doll";
    src: url(fonts/Baby\ Doll.ttf);
}
@font-face{
    font-family: "Cute Stitch";
    src: url(fonts/Cute\ Stitch.ttf);
}
.body{
    width: 100vh;
}
/* Containers + Boxes */

#head_con{
    width: 830PX;
    height: 188px ;
    margin-top: 50px;
    margin-left: 70px;
    position: left;
}

/* layout home page */
#con{
    display: block;
    width: 1000px;
    height: 900px;
    background-color: antiquewhite;
    margin-bottom: 10px;
    position: absolute;
    padding-left: 10px;
    position: left;
    border-bottom: 1px solid #bbbb;
    border-radius: 4px 4px 0 0;
}
#idcard_container{
    padding-left: 500px;
    padding-bottom: 225px;
    position: absolute;
    z-index: 925;
    .pfp{
        display: block;
        width: 565px;
        height: 600px;
        scale: .25;
        position: absolute;
        top: -190px;
        margin-left: -160px;
        z-index: 975;
        border-radius: 100px;

    }
    .card{
        display: block;
        width: 500px;
        height: 230px;
        position: absolute;
        z-index: 980;
    }
    #text_container{
        top: 37px;
        left: 200px;
        padding-right: 240px;
        padding-bottom: 150px;
        position: absolute;
        z-index: 950;
        .text_qs{
            left: 5px;
            font-family: Cute Stitch;
            font-size: 15px;
            display: block;
            font-weight: 100;
            position: absolute;
            line-height: 30px;
            color: rgb(233, 112, 179);
        }
        .text_answrs{
            left: 130px;
            font-family: Cute Stitch;
            font-size: 15px;
            display: block;
            font-weight: 100;
            position: absolute;
            line-height: 30px;
            color: rgb(136, 202, 150);
        }
    }

    
}

.box{
    padding: 0;
    /* width: 840px; */
    /* width: 1250px;
    height: 650px; */
    position: absolute;
    background-color: beige;
    min-width: 900px;
    left: 78px;
    top: 165px;
    bottom: 15px;
    right: 78px;
    background-size: contain;
    background-color: beige;
    box-shadow: 0 0 10px 0 rgb(236, 132, 148) inset, 0 0 3px black;
    border-radius: 5px;
    border: 1px solid rgb(142, 180, 142);
    display: inline-block;
    unicode-bidi: isolate;
    z-index: 900;
    .page{
        font-size: 75px;
        font-family: Billo;
        color: rgb(142, 180, 142) ;
        margin-left: 500px;
    }
    img{
        z-index: 1000;
        position: absolute;
        scale: .20;
        transform: rotateY(180deg);
        top: -185px;
        left: 325px;
        right: 400px;
        

    }
        
}


#navhome_cont{
    display: block;
    left: 5px;
    top: 315px;
    min-width: 200px;
    max-width: 275px;
    bottom: 15px;
    right: 950px;
    position: absolute;
    z-index: 920;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 3px solid rgb(142, 180, 142);
    margin-left: 35px;
    h1{
        font-size: 30px;
        color:  rgb(142, 180, 142);
        margin-top: 15px;
    }
    a{
        display: block;
        font-family: Billo;
        color:rgb(179, 55, 106);
        top: 200px;
        margin-top: 10px;
        margin-left: 105px;
        font-size: 20px;
    
    }
    a:hover{
        text-indent: 10px;
        color: rgb(247, 115, 170);
        font-style: italic;
    }
}
#texthome_cont{
    display: block;
    left: 175px;
    top: 75px;
    bottom: 15px;
    right: 35px;
    position: absolute;
    min-width: 300px;
    z-index: 920;
    background-color: antiquewhite;
    border-radius: 10px;
    border-image: url(graphics/id_border.png) 6.5 fill round;
    border-width: 8px;
    border-style: solid;
    margin-left: 375px;
    h2{
        margin: 10px;
        font-family: Baby Doll;
        font-size: 29px;
        color:lightpink ;
    }
}


#nav{
    display: block;
    width: 200px;
    height: 450px;
    position: absolute;
    z-index: 920;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 3px solid rgb(142, 180, 142);
    top: 260px;
    margin-left: 115px;
    h1{
        font-size: 30px;
        color:  rgb(142, 180, 142);
        margin-left: 15px;
        margin-top: 200px;
    }
    a{
        display: block;
        font-family: Billo;
        color:rgb(179, 55, 106);
        top: 200px;
        margin-top: 10px;
        margin-left: 75px;
        font-size: 20px;
    
    }
    a:hover{
        text-indent: 10px;
        color: rgb(247, 115, 170);
        font-style: italic;
    }
    
}

.gen_pfp{
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 920;
    top: 15px;
    border-radius: 20px;
    margin-left: 25px;

    
}
.gen_content{
    display: block;
    left: 20px;
    top: 75px;
    bottom: 30px;
    right: 125px;
    min-width: 300px;
    position: absolute;
    z-index: 920;
    background-image: url(graphics/graph.jpg);
    border-radius: 10px;
    border: 3px solid rgb(142, 180, 142);
    top: 260px;
    margin-left: 335px;
    /* .gen_cont{
        top: 15px;
        left: 280px;
        padding-right: 640px;
        padding-bottom: 435px;
        position: absolute;
        z-index: 950;
    } */
    #tv_img{
        width: 400px;
        left: 50px;
    }
    .tv_show{
        scale: .25;
        margin-top: -600px;
        margin-left: -400px;
    }

}


/* text */
h1{
    font-family: "Billo";
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    z-index: 950;
}


/* links and buttons */

/* random stuff rn */

/* #header{
    width: 558px;
    height: 188px;
    background-image: url(graphics/headerbg.png.png);
} */
.layer{
    display:grid
}
.title{
    display:block; 
    font: size 35px;;
    text-align:center;
    
    color:var(--dbrown1);
    margin-left: 0;
    width:545px;
    height: 175px;
    background-image: url(graphics/headerbg.png.png);
    padding:10px;
    border-radius:25px;
    position: absolute;
    z-index: 910;
}
.title_img{
    height: 450px;
    width: 400px;
    position: absolute;
    top: -100px;
    left: 135px;
    z-index: 975;
}

/* h1{
    font-family: fantasy;
    text-align:center;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 50px;
    color: rgb(197, 107, 170); */

/* } */

html{
    background-image: url(graphics/background.jpg);
    background-attachment: fixed;
}